body {

  margin: 0;
  padding: 0;
  color: white;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h2{

  padding-left: 2%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

h3{


  padding-left: 2%;
  font-size: 15px;

}